<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
    <head>
        <meta charset="utf-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />

        <!-- JS dependencies (order matters!) -->
        
        <script src="js/angular/angular.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script> 
        <script src="js/angular/sanitize.js"></script>
        <script src="js/onsenui.js"></script>
        <!--<script src="js/autocomplete.js"></script>-->
        <script src="phonegap.js"></script>
        <script src="js/app.js"></script> 
        <script src="http://radioinfant.antfarm.co.za/pretoriafm/scripts/jwplayer7/jwplayer.js"></script>
        
        <!-- CSS dependencies -->
        <link rel="stylesheet" href="css/onsenui.css" />
        <link rel="stylesheet" href="css/onsen-css-components.css" />
        <!--<link rel="stylesheet" href="css/autocomplete.css">-->
        <link rel="stylesheet" href="css/app.css" />
        <!-- antfarm css -->
        <link href="http://radioinfant.antfarm.co.za/pretoriafm/css/fallback.css" rel="stylesheet" /> 

        <!-- CSP support mode (required for Windows Universal apps) -->
        <link rel="stylesheet" href="js/angular/angular-csp.css" />
    </head>
    <body ng-controller="AppController">   
        <ons-navigator title="Navigator" var="myNavigator">
            <ons-page>
                <div style="text-align: center; margin: 20px 0;">
                    <img src="images/pretoria-fm-logo.png" />
                </div>
                <ons-button modifier="large" class="forntPageBut" ng-click="myNavigator.pushPage('luister.html', { animation : 'slide' } )">
                    LUISTER NOU
                </ons-button>
                <br />
                <ons-button modifier="large" class="forntPageBut" ng-click="myNavigator.pushPage('mense.html', { animation : 'slide' } )">
                    ONS MENSE
                </ons-button>
                <br />
                <ons-button modifier="large" class="forntPageBut" ng-click="myNavigator.pushPage('programme.html', { animation : 'slide' } )">
                    PROGRAMME
                </ons-button>
                <br />
                <ons-button modifier="large" class="forntPageBut" ng-click="myNavigator.pushPage('kontak.html', { animation : 'slide' } )">
                    KONTAK ONS
                </ons-button>
                <br />
                <div style="text-align: center; margin-top: 20px;">
                    <a target="_blank" href="https://www.facebook.com/RadioPretoria" ><img src="images/facebookIcn.png" /></a>
                    <a target="_blank" href="https://twitter.com/PretoriaFM" ><img src="images/twitterIcn.png" /></a>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <p><small style="color:#fff;font-size: 10px;">Ontwerp en ontwikkel deur</small> <img src="images/larapink.png" style="height: 10px;"></p>
                </div>
            </ons-page>
        </ons-navigator>
    
        <ons-template id="mense.html">
            <ons-page>
                <ons-toolbar>
                    <div class="left">
                        <ons-back-button>TERUG</ons-back-button>
                    </div>
                    <div class="center">ONS MENSE</div>
                </ons-toolbar>
                <div style="text-align: center">
                    <ons-row>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Alet_Erasmus_Programme_Aanbieder_300.jpg" />
                                <p>Alet Erasmus</p>
                            </div>
                        </ons-col>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Pienaar_Lochner_Programme_Aanbieder_300.jpg" />
                                <p>Pienaar Lochner</p>
                            </div>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Prof_Tienie_Mans_Programme_Aanbieder_300.jpg" />
                                <p>Prof Tienie Mans</p>
                            </div>
                        </ons-col>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Theo_Erasmus_Programme_Aanbieder_300.jpg" />
                                <p>Theo Erasmus</p>
                            </div>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Dr_Jan_Swanepoel_Programme_Aanbieder_300.jpg" />
                                <p>Dr Jan Swanepoel</p>
                            </div>
                        </ons-col>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Willie_Mynhard_Programme_Aanbieder_300.jpg" />
                                <p>Willie Mynhard</p>
                            </div>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/MD_Greyling_Tegnies_en_Aanbieder_300.jpg" />
                                <p>MD Greyling</p>
                            </div>
                        </ons-col>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Marianne_Breytenbach_Programme_Aanbieder_300.jpg" />
                                <p>Marianne Breytenbach</p>
                            </div>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Jaco_Versfeld_Programme_Aanbieder_300.jpg" />
                                <p>Jaco Versfeld</p>
                            </div>
                        </ons-col>
                        <ons-col>
                            <div class="contact-info">
                                <img src="images/Henk_Joubert_Programme_Aanbieder_300.jpg" />
                                <p>Henk Joubert</p>
                            </div>
                        </ons-col>
                    </ons-row>
                </div>
            </ons-page>
        </ons-template>
    
        <ons-template id="programme.html">
            <ons-page>
                <ons-toolbar>
                    <div class="left">
                        <ons-back-button>TERUG</ons-back-button>
                    </div>
                    <div class="center">PROGRAMME</div>
                </ons-toolbar>
                <ons-list class="plan-list">
                    <ons-list-item class="plan">
                        <ons-row>
                            <ons-col width="90px" class="plan-left">
                                <div class="plan-date">Weeksdae</div>
                                <div class="plan-duration">12:00 tot 13:00</div>
                            </ons-col>

                            <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:'#ec0884'}">
                            </ons-col>

                            <ons-col class="plan-right">
                                <div class="plan-name">KALEIDOSKOOP</div>

                                <div class="plan-info">
                                    <p>Kaleidoskoop is `n ideale platform vir klein en medium grootte besighede om hul produk of diens te adverteer.</p>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item class="plan">
                        <ons-row>
                            <ons-col width="90px" class="plan-left">
                                <div class="plan-date">Vrydae</div>
                                <div class="plan-duration">20:10</div>
                            </ons-col>

                            <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:'#A1DAE0'}">
                            </ons-col>

                            <ons-col class="plan-right">
                                <div class="plan-name">UIT DIE HOED</div>

                                <div class="plan-info">
                                    <p>Maandagaande trek ons alles uit die hoed. Nie net hase nie, ook hoorbeelde, onderhoude, interessanthede, musiek en programhoogtepunte uit die tydgleuwe toe u nie kon luister nie.</p>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item class="plan">
                        <ons-row>
                            <ons-col width="90px" class="plan-left">
                                <div class="plan-date">Weeksdae</div>
                                <div class="plan-duration">09:00 tot 12:00</div>
                            </ons-col>

                            <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:'#ec0884'}">
                            </ons-col>

                            <ons-col class="plan-right">
                                <div class="plan-name">KONTREIKUIER</div>

                                <div class="plan-info">
                                    <p>Van nege-uur tot twaalfuur elke weeksdag is Elsje van Jaarsveld u gasvrou. Dan kuier ons rondom al die gebeure in en om ons kontrei.</p>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item class="plan">
                        <ons-row>
                            <ons-col width="90px" class="plan-left">
                                <div class="plan-date">Dinsdae</div>
                                <div class="plan-duration">20:10</div>
                            </ons-col>

                            <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:'#A1DAE0'}">
                            </ons-col>

                            <ons-col class="plan-right">
                                <div class="plan-name">NET MEDIES</div>

                                <div class="plan-info">
                                    <p>In die program Net Medies gesels Marianne Breytenbach  met spesialiste oor verskeie mediese toestande. Hulle praat gesaghebbend en bring die nuutste inligting na die ateljee. Dit is anders as om die internet te raadpleeg – in Net Medies hoor u wat sê die dokter.</p>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item class="plan">
                        <ons-row>
                            <ons-col width="90px" class="plan-left">
                                <div class="plan-date">Vrydae</div>
                                <div class="plan-duration">09:05 tot 09:55</div>
                            </ons-col>

                            <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:'#ec0884'}">
                            </ons-col>

                            <ons-col class="plan-right">
                                <div class="plan-name">KUIERKOMBUIS</div>

                                <div class="plan-info">
                                    <p>‘n Tafel vir twee en meer, ‘n uitnodiging vir ‘n koppie koffie of tee asook iets om te geniet daarmee, musiek om die spyse te help verteer, dis die kuierkombuis. Kom deel u beproefde resepte, ‘n wenk of twee asook ‘n skets of nuusbrief vanuit die binneland of oorsee.</p>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item class="plan">
                        <ons-row>
                            <ons-col width="90px" class="plan-left">
                                <div class="plan-date">Weeksdae</div>
                                <div class="plan-duration">16:00 tot 18:45</div>
                            </ons-col>

                            <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:'#A1DAE0'}">
                            </ons-col>

                            <ons-col class="plan-right">
                                <div class="plan-name">KLANKKOERANT – LAATUITGAWE</div>

                                <div class="plan-info">
                                    <p>Klankkoerant Laatuitgawe bring Pretoria FM-luisteraars op hoogte van plaaslike en internasionale gebeure. Deurwinterde medewerkers, ook uit die akademiese wêreld, bied ingeligte menings oor die gebeure van  die dag en hou u op hoogte van die nuutste nuus.</p>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item class="plan">
                        <ons-row>
                            <ons-col width="90px" class="plan-left">
                                <div class="plan-date">Maandae</div>
                                <div class="plan-duration">20:10 tot 21:15</div>
                            </ons-col>

                            <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:'#ec0884'}">
                            </ons-col>

                            <ons-col class="plan-right">
                                <div class="plan-name">JOERNAAL</div>

                                <div class="plan-info">
                                    <p>‘n Program vir die fynproewer, ‘n program met verskeidenheid, ‘n program met iets vir elkeen</p>
                                </div>
                            </ons-col>
                        </ons-row>
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-template>
    
        <ons-template id="kontak.html">
            <ons-page>
                <ons-toolbar>
                    <div class="left">
                        <ons-back-button>TERUG</ons-back-button>
                    </div>
                    <div class="center">KONTAK ONS</div>
                </ons-toolbar>
                <div style="text-align: center">
                    <iframe ng-src="{{mapURL}}" width="100%" height="450" frameborder="0" ></iframe>
                    <p>&nbsp;</p>
                    <a href="tel:+27125430120"><i class="fa fa-phone contactIcn"></i></a> 
                    <a href="sms:47887"><i class="fa fa-mobile contactIcn"></i></a>
                    <a href="mailto:bestuur@pretoriafm.co.za"><i class="fa fa-envelope contactIcn"></i></a>
                </div>
            </ons-page>
        </ons-template>
        <script src="http://radioinfant.antfarm.co.za/pretoriafm/scripts/jwplayer7/jwplayer.js"></script>
        <script src="http://radioinfant.antfarm.co.za/pretoriafm/player.ashx"></script>
    </body>
</html>